<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxz.mapper.UserMapper">	
	<!--  查询单条记录  -->  
    <select id="selectUserById" parameterType="int" resultType="com.dxz.model.User" >  
       select * from t_user where userId = #{userId}  
    </select>  
    
    <select id="getMisoperatorByName" parameterType="String" resultType="com.dxz.model.Misoperator" >  
<!--        select * from t_user where userId = #{userId}   -->
       SELECT m.opID, m.opLevel FROM user u inner JOIN misoperator m ON(u.opId = m.id) WHERE  u.`name` = #{userName}  
    </select>  
    
</mapper>